<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/awmo</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">q1w2e3</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
    <property name="hibernate.cache.use_query_cache">false</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <property name="hibernate.transaction.flush_before_completion">true</property>
    <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="hibernate.cache.query_cache_factory">org.hibernate.cache.impl.NoCachingRegionFactory</property>
    <property name="hibernate.connection.pool_size">20</property>
    <mapping class="models.Diagrama"/>
    <mapping class="models.Classe"/>
    <mapping class="models.Tipo"/>
    <mapping class="models.Atributo"/>
    <mapping class="models.Parametro"/>
    <mapping class="models.Operacao"/>
    <mapping class="models.RelacaoClasse"/>
  </session-factory>
</hibernate-configuration>
